* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

.clearfix::after {
    clear: both;
    overflow: hidden;
    content: "";
    display: block;
}

.top_container.double {
    height: 50%;
}