* {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style: none;
}

.clearfix::after {
    clear: both;
    overflow: hidden;
    content: "";
    display: block;
}

.single .top_container {
    height: 100%;
}

.single .video_container {
    height: calc(100vh - 50px);
}

.single .video_body {
    height: calc(100vh - 120px);
}


/* .single .video-view {
    height: calc(100vh - 120px);
} */

.single .pictures_type {
    height: calc(100vh - 50px);
}

.single .pictures_list {
    height: calc(100vh - 50px);
}

.single .chat_history {
    height: calc(100vh - 80px);
}

.single .case_detail {
    height: calc(100vh - 50px);
}

.single .case_main {
    height: calc(100vh - 80px);
}

.single .r_main {
    height: calc(100vh - 50px);
}